/* Buttons style */
.option {
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    min-width: 200px;
    min-height: 80px;
    font-family: inherit;
  }

  .start {
    font-family: inherit;
    font-size: 70px;
    text-transform: uppercase;
    padding: 10px;
  }